HELP.md
target/
.mvn

### nacos ###
nacos/logs/
nacos/target/
nacos/data/
nacos/bin/logs/
nacos/status/

### seata ###
seata/logs/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/